#canvas-div {
  position: relative;
  width: 80vw;
  height: 90vh;
  margin: auto;
  border: 1px solid black;
}

.solver-canvas {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px dotted magenta;
}

#layer-image {
  z-index: 0;
}

#layer-student {
  z-index: 1;
}

#layer-teacher {
  z-index: 2;
}
