:root {
  --navbar-height: 50px;
  --primary-color: #0a1f33;
  --primary-contrast-alpha: #65599983;
  --primary-contrast: #655999;
  --secondary-color: #e6c670;
  --text-color: #fcf7ff;
}

body {
  padding-bottom: 0.4em;
  min-height: calc(var(--vh, 1vh) * 100);
}

#app {
  display: flex;
  align-items: center;
  flex-flow: column;
  row-gap: 0.5em;
}
