:root {
  --navbar-height: 50px;
  --primary-color: #0a1f33;
  --primary-contrast: #1e374d;
  --secondary-color: #e6c670;
  --tertiary-color: #e04e15;
  --text-color: #fcf7ff;
}

body {
  padding-bottom: 0.4em;
  min-height: 80vh;
}

#app {
  display: flex;
  align-items: center;
  flex-flow: column;
  row-gap: 0.5em;
}
